.app {
    max-width: 440px;
    min-height: 95vh;
    overflow: hidden;
    margin: 0px auto;
    padding: 50px 0px 0px 0px;
    position: relative;
    background: #f4f4f4;
    * {
        font-family: 'Circe', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0px 6px;
}

.card {
    border: 1px solid #252525;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    background: #c8c8c8;
    transition: all ease-in .4s;
}

.card-active {
    pointer-events: none;
}

.card-animation {
    animation: card .4s ease-in-out forwards;
    pointer-events: none;
}


@keyframes card {
    33% {
        transform: scaleX(0);
    }
    66% {
        transform: scaleX(0);
        background: #fff;
    }
    100% {
        transform: scaleX(1);
        background: #fff;
    }
}

.num {
    opacity: 0;
    max-width: 100%;
    padding: 20px;
}

.num-active {
    opacity: 1;
}

.point {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.winner-header {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 50px 0px;
}

.reload {
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background: #c8c8c8;
    color: #252525;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 30px;
}

.timer {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.start {
    padding-top: 100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header {
        font-size: 28px;
        text-align: center;
        margin-bottom: 60px;
    }
    &-button {
        border: none;
        border-radius: 5px;
        background: #c8c8c8;
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-bottom: 20px;
        color: #252525;
    }
    &-input {
        height: 60px;
        width: 300px;
        border: none;
        outline: none;
        font-size: 1em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #252525;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #c8c8c8;
    }
}

.developer {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #252525;
    left: 50%;
    transform: translateX(-50%);
}

.rules-text {
    text-align: center;
    padding: 0px 30px;
}

.record-text {
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .app {
        max-width: 100%;
        padding: 50px 10px;
    }
    .cards {
        grid-gap: 10px;
    }
}